.title {
    font-size: 95px;
  }
  .subtitle {
    font-size: 25px;
    padding-top: 10px;
  }
  .intro-text {
    width: 100%;
    text-align: center;
  }
  .main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/perspective-exterior-nobody-empty-box_1258-260.jpg?w=996&t=st=1671733530~exp=1671734130~hmac=9e399f47e4a2bc2fc1ca51c4336a008205354dcbf5f1943f01ae7bd04b99ebf9");
    background-position: center;
    background-size: cover;
  }
  .buttonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .mb-2 {
    width: 200px;
    height: 55px;
  }
  
  @media only screen and (min-width: 1200px) {
    .buttonContainer {
      padding: 0 200px;
    }
    .title {
      padding: 0 100px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 60px;
    }
    .mb-2 {
      width: 150px;
      height: 50px;
    }
  }

    @media only screen and (max-width: 1150px) {
      .title {
        font-size: 50px;
      }
      .mb-2 {
        width: 150px;
        height: 50px;
      }
  }
  
